<div class="header-about">
  <div class="text-about">Tin tức và sự kiện</div>
  <div class="text-whoiam">
  Tin tức
  <span class="red">mới</span>
  </div>
</div>
<div class="news_content row">

  {{#each listnews as |images|}}
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="list_news_content">
           <div class="images">
              <a href="/{{images.seo_url}}"><img src="/uploads/{{images.image}}"></a>
           </div>
            <div class="cont">
            {{#each images.detail as | listnews|}}
              <h4><a href="/{{images.seo_url}}">{{{listnews.name}}}</a></h4>
              <p>{{{listnews.desc}}}</p>
              <p><a href="/{{images.seo_url}}">Xem thêm</a></p>
            {{/each}}
           </div>
        </div>  
      </div>
      {{/each}} 
  <div id="clear"></div>
</div>