<div class="main_news">
	<div class="news_center">
		<div id="bread">
			<ul>
				<li class="homes"><a href="/">Trang chủ / </a></li>
				<li class="homes"><a href="/{{{contents.seo_url}}}">{{{newcatdetail.name}}}</a></li>
			</ul>
		</div>
		<div class="cats_content">
			{{#each contents as |images|}}
				<div class="row">
				   <div class="col-md-3 col-xs-12">
				   		<a href="/{{images.seo_url}}"><img src="/uploads/{{images.image}}"></a>
				   </div>
				  	<div class="col-md-9 col-xs-12">
				   	{{#each images.detail as | listnews|}}
				   		<h4><a href="/{{images.seo_url}}">{{{listnews.name}}}</a></h4>
				   		<p>{{{listnews.desc}}}</p>
				   		<i><a href="/{{images.seo_url}}">Xem thêm</a></i>
				   	{{/each}}
				   </div>
				</div>	
			{{/each}}
			<div class="content_page">
				<ul>
				{{#each allpage as |page|}}
					<li><a href="/{{{page.seo_url}}}?page={{page.pagecount}}">{{{page.pagecount}}}</a></li>
				{{/each}}
				</ul>
			</div>
			<div id="clear"></div>
		</div>
	
	</div>
<div>