<div class="main_news">
	<div class="news_center">
		<div id="bread">
			<ul>
				<li class="homes"><a href="/">Trang chủ / </a></li>
				<li class="homes">Hóa đơn mẫu</li>
			</ul>
		</div>
		<div class="sample_content">
			
				<div class="row">

					{{#each invoicetemplate as |productcat|}}
					  
					    <div class="col-xs-12 col-sm-12">
					        <div class="list_product_content">
					           <div class="productcat_title">
					                {{#each productcat.detail as |productcatdetail|}}
					                    <p>{{{productcatdetail.name}}}</p>
					                {{/each}}
					           </div>
					            <div class="cont">
					            <div class="row">
					              {{#each productcat.product as |listnews|}}
					                <div class="col-md-4 col-xs-12 invoice_item">
					                  <div class="sample_invoice">
					                  	<a href="/uploads/{{listnews.image}}"><img src="/uploads/{{listnews.image}}"></a>
					   					<h3>{{listnews.name}}</h3>
					                      
					                    </div>
					                </div>
					                  
					              {{/each}}
					            </div>  
					           </div>

					        </div>  
					      </div>
					
					{{/each}} 

				</div>	
			
		</div>
	{{{details.content}}}
	</div>
<div>