<div class="container_upload" ng-controller="upload_token">
	<div class="upload_file">
		<form onsubmit="return Validate(this);" method="post" action="/filemanager/uploadimage?folder={{rootfolder}}" enctype='multipart/form-data'>
		
			<input type="file" id="flFileUpload" name="file"/>
			<button id="btnUpload" class="button_template"><i class="fa fa-upload" aria-hidden="true"></i></button>
		</form>
	</div>
	<div class="create_folder">
		<form onsubmit="return Validate(this);" method="post" action="/filemanager/createfolder">
			<input type="text" id="foldername" name="foldername"/>
			<button id="btnUpload" class="button_save">Lưu</button>
		</form>
	</div>
	<div id="clear"></div>

</div>
<div class="sub_folder">
	<ul class="list_forders">
	     <a href="/filemanager/browser?CKEditor=editor1&CKEditorFuncNum=1"><span class="folder regular">/</span></a>
	   </li>
	   {{#each listforders as |folder|}}
	    <li>
	      <a href="/filemanager/browser?CKEditor=editor1&CKEditorFuncNum=1&fordername={{folder.folder}}"><span class="folder regular">{{folder.folder}}</span></a>
	    </li>
	  {{/each}}
	</ul>
</div>
<div class="images_list">
	<ul class="list_images">
	   {{#each listimages as |images|}}
	    <li>
	    <span data-image="{{images.image}}" class="del_images"><i class="fa fa-times del_images" aria-hidden="true"></i></span>
	      <a href="javascript://" class="thumbnail js-image-link" data-url="{{images.image}}"><img src="{{images.image}}"></img></a>
	    </li>
	  {{/each}}
	</ul>
</div>
<script type="text/javascript">
	CkEditorImageBrowser.init();
	$(document).on('click', '.del_images', function () {
	  var url_del = $(this).attr('data-image')
	  $.ajax({
	        url: '/filemanager/deleteimages',
	        type: 'POST',
	        dataType: 'text',
	        data: {
	            url_del: url_del          
	        },
	        success: function(result){
	          location.reload();
	        }
	  });
	});
</script>